*{
    margin: 0;
    padding: 0;
}
section{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-template-rows: repeat(3, 100px); 
    gap:8px;
    margin: 8px;
}
div:first-of-type{
    background-color:red;
    grid-column-start:1;  
    grid-column-end: 5;



}
div:nth-of-type(2){
    background-color:blue; 
    grid-column-start:1;  
    grid-column-end:3;
    grid-row-start:2;  
    grid-row-end:4;

}
div:nth-of-type(3){
    background-color:green;
    grid-column-start: 3; 
    grid-column-end:5; 
    grid-row-start:2;  
    grid-row-end:3; 
 
}
div:nth-of-type(4){
    background-color:palevioletred;
    grid-column-start:3;  
    grid-column-end:4;  
}
div:nth-of-type(5){
    background-color:palevioletred;
    grid-column-start: 4;  
    grid-column-end:5;  



}
